<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/style.css">
  <title>Home | Ingrid Almeida</title>
</head>

<body>
  <header>
    <nav class="nav-bar">
      <div class="max-width">
        <div class="logo"><a href="#home">Ingrid Almeida</a></div>
        <ul class="menu">
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    </div>
  </header>

  <section class="home" id="home">
    <div class="max-width">
      <div class="home-content">
        <div class="content-text">
          <div class="title-home"><h1>Hi!<p>I am Ingrid Almeida</p><p>A Web Developer</p></div></h1>
          <div class="text-home"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit fugiat repudiandae ad dignissimos eaque.
            Repellendus excepturi sequi ratione magnam exercitationem, unde temporibus, illum repudiandae deleniti vel
            tenetur sed voluptatum earum!</p></div>
        </div>
        <div class="content-img">
          <div class="main-img">
            <img src="/public/image-home-2option.svg" alt="">
          </div>  
          <div class="icons"> 
            <img  src="/public/css-3.png" alt=""class="icon-one">
            <img  src="/public/javascript.png" alt=""class="icon-two">
            <img  src="/public/react.png" alt=""class="icon-three">
            <img src="/public/html.png" alt=""class="icon-four" > 
            <img src="/public/nodejs.png" alt="" class="icon-five">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about" id="about">
    <div class="max-width">
      <div class="about-content">

      </div>
    </div>

  </section>

  <section id="projects">

    <div class="section-cards">

      <div class="cards">
        <div class="image-card-container"><img src="" alt=""></div>
        <div class="title">Countdown</div>
        <div class="content-card"><a href="">View more</a></div>
      </div>

      <div class="cards">
        <div class="image-card-container"></div><img src="" alt="">
        <div class="title">Dev Finances</div>
        <div class="content-card"><a href="">View more</a></div>
      </div>

      <div class="cards">
        <div class="image-card-container"><img src="" alt=""></div>
        <div class="title">Gerador - Friends</div>
        <div class="content-card"><a href="">View more</a></div>
      </div>

      <div class="cards">
        <div class="image-card-container"><img src="" alt=""></div>
        <div class="title">Tabela de Multiplicação</div>
        <div class="content-card"><a href="">View more</a></div>
      </div>

    </div>

  </section>

  <section id="contact">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quidem numquam unde, blanditiis et molestias ex minus odit obcaecati incidunt distinctio omnis, optio laborum id officia accusamus itaque magnam fugiat.
    Consequatur a in doloremque ut vero. Quidem voluptates, dolores pariatur quia temporibus ipsum! Vel amet asperiores ut itaque fuga sint neque deleniti natus necessitatibus sit, minima illo rerum a odit?
    Esse explicabo quae asperiores omnis ipsam non quam reprehenderit perferendis quas aspernatur, corrupti consequatur fugit facere recusandae vitae cum quia ut ex. Reprehenderit qui sunt labore maiores alias, ipsam quasi!
    Magni autem inventore alias facilis ex totam modi velit, fugiat perferendis consequatur debitis sapiente repudiandae vel ea veniam asperiores in fugit ipsam soluta ut! Omnis tempore porro odit perferendis quam.
    Id molestiae reiciendis beatae quis repellat, saepe a aperiam asperiores quos magni, ut facere corporis labore aut ipsa deleniti nesciunt molestias consequuntur earum architecto autem omnis? Excepturi fugiat ab placeat.
    Dolor voluptate dolorem officia, suscipit quibusdam ipsa aliquid quas rem laborum at sunt quae ipsam enim aliquam error accusamus ducimus sit assumenda soluta quisquam nam. Est, veritatis illum? Repellendus, vitae?
  </section>
<!--   <footer>Ingrid Almeida</footer> -->

  <script src="/public/app.js"></script>
</body>

</html>