<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/style.css">
  <title>Home | Ingrid Almeida</title>
</head>

<body>
  <header>
    <nav class="nav-bar">
      <div class="max-width">
        <div class="logo"><a href="#home">Ingrid Almeida</a></div>
        <ul class="menu">
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    </div>
  </header>

  <section class="home" id="home">
    <div class="max-width">
      <div class="home-content">
        <div class="content-text">
          <div class="title-home"><h1>Hi!<p>I am Ingrid Almeida</p><p>A Web Developer</p></div></h1>
          <div class="text-home"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit fugiat repudiandae ad dignissimos eaque.
            Repellendus excepturi sequi ratione magnam exercitationem, unde temporibus, illum repudiandae deleniti vel
            tenetur sed voluptatum earum!</p></div>
        </div>
        <div class="content-img">
          <img src="/public/imageOne.svg" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="about" id="about">
    <div class="max-width">
      <div class="about-content">

      </div>
    </div>

  </section>

  <section id="projects">

    <div class="section-cards">

      <div class="cards">
        <div class="image-card-container"><img src="" alt=""></div>
        <div class="title">Countdown</div>
        <div class="content-card"><a href="">View more</a></div>
      </div>

      <div class="cards">
        <div class="image-card-container"></div><img src="" alt="">
        <div class="title">Dev Finances</div>
        <div class="content-card"><a href="">View more</a></div>
      </div>

      <div class="cards">
        <div class="image-card-container"><img src="" alt=""></div>
        <div class="title">Gerador - Friends</div>
        <div class="content-card"><a href="">View more</a></div>
      </div>

      <div class="cards">
        <div class="image-card-container"><img src="" alt=""></div>
        <div class="title">Tabela de Multiplicação</div>
        <div class="content-card"><a href="">View more</a></div>
      </div>

    </div>

  </section>

  <section id="contact">

  </section>
<!--   <footer>Ingrid Almeida</footer> -->

  <script src="/public/app.js"></script>
</body>

</html>