@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --primary-color: #4A4A4A;
  --secondary-color: #7159c1;
}
html {
  font-size: 90%;
}
body {
  font-family: 'Space Mono', monospace;
}

.max-width {
  max-width: 1300px; 
  padding: 0 80px;
  margin: auto;
}

/*=== NAVIGATION BAR*/

.nav-bar {
  background: white;
  position: fixed;
  width: 100%;
  padding: 20px 0;
  transition: all 0.3s ease;
  z-index: 999;
}
.nav-bar.sticky {
  padding: 10px 0;
  border-bottom: solid var(--primary-color);
  border-width: 1px;
}
.nav-bar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar .logo a {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  color: black;
  letter-spacing: 2px;
  position: relative;
}
.nav-bar .menu li {
  list-style: none;
  display: inline-block;
}
.nav-bar .menu li a {
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 25px;
  position: relative;
}
.nav-bar .menu li a:hover {
  color: var(--secondary-color);
}
.nav-bar .menu li a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  position: absolute;
  left: 0;
  bottom: -4px;
}
.nav-bar .menu li a:hover::after {
  width: 100%;
  transition: width 500ms ease-in-out;
}

/* === HOME SECTION === */

.home {
  display: flex;
  background: white;
  height: 100vh;
  color: var(--primary-color);
  min-height: 500px;
}

.home .max-width {
  margin: auto 0 auto 40px;
  width: 100%;
}
.home-content {
  padding: 150px 0 50px 0;
  display: flex;
  justify-content: space-between;
}

.title-home{
  font-size: 2rem;
}

.text-home{
  font-size: 1.1rem;
  max-width: 500px;
  text-align: justify;
  margin-top: 10px;
}
.content-img {
  position: relative;
}

.main-img img{
  height: 500px;
  margin: -60px;
}
.icons {  
  position: absolute;
  top: 0;
}
.icons img {
  margin-left: 60px;
  height: 32px;
}

.icons .icon-one,
.icons .icon-two,
.icons .icon-three,
.icons .icon-four,
.icons .icon-five {
  position: relative;

}
.icons .icon-one {
  top: 60px;
  animation: icon-one 1s ease-in-out infinite alternate; 

}
.icons .icon-two { 
  bottom: 20px;
  right: 20px;
  animation: icon-two 1s ease-in-out infinite alternate; 

}
.icons .icon-three {  
  bottom: 45px;
  right: 5px;
  animation: icon-three 1s ease-in infinite alternate; 
}
.icons .icon-four {
  bottom: 10px;
  right: 10px;
  animation: icon-four 1s ease-in-out infinite alternate;
}
.icons .icon-five {
  top: 60px;
  right: 80px;
  animation: icon-five 1s ease-in-out infinite alternate; 

}


@keyframes icon-one {
  0% {
    top: 20px;
  }
  100% {
    top: 60px;
  }
}
@keyframes icon-two {
  0% {
    right: 20px;
  }
  100% {
    right: 0px;
  }
}
@keyframes icon-three {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes icon-four {
  0% {
    top: 0px;
  }
  100% {
    top: 10px;
  }
}
@keyframes icon-five {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
/* === PROJECTS SECTION */

