@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: ;
}
body {
  margin-left: 150px;
  margin-top: 50px;
  font-family: 'Space Mono', monospace;
}

/*=== NAVIGATION BAR*/

.container {
  display: flex;
  align-items: center;
  width: 90%;
}
nav ul {
  display: flex;
}

nav li {
  list-style: none;

}
nav a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 2rem;
}

div.content{
  display: flex;
  justify-content: space-between;
}
div.content-text {
  max-width: 600px;
  padding: 80px 0;
}
div.content h1 {
  font-size: 3rem;
}

div.content img {
  width: 500px;
  margin-left: 10px;
}