@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --primary-color: #4A4A4A;
  --secondary-color: #7159c1;
}
html {
  font-size: 90%;
}
body {
  font-family: 'Heebo', sans-serif;
}

.max-width {
  max-width: 1300px; 
  padding: 0 80px;
  margin: auto;
}

/*=== NAVIGATION BAR*/

.nav-bar {
  background: white;
  position: fixed;
  width: 100%;
  padding: 20px 0;
  transition: all 0.3s ease;
  z-index: 999;
}
.nav-bar.sticky {
  padding: 10px 0;
  border-bottom: solid var(--primary-color);
  border-width: 1px;
}
.nav-bar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar .logo a {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  color: black;
  letter-spacing: 2px;
  position: relative;
}
.nav-bar .menu li {
  list-style: none;
  display: inline-block;
}
.nav-bar .menu li a {
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 25px;
  position: relative;
}
.nav-bar .menu li a:hover {
  color: var(--secondary-color);
}
.nav-bar .menu li a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  position: absolute;
  left: 0;
  bottom: -4px;
}
.nav-bar .menu li a:hover::after {
  width: 100%;
  transition: width 500ms ease-in-out;
}

/* === HOME SECTION === */

.home {
  display: flex;
  background: white;
  height: 100vh;
  color: var(--primary-color);
  min-height: 500px;
}

.home .max-width {
  margin: auto 0 auto 40px;
  width: 100%;
}
.home-content {
  padding: 150px 0 50px 0;
  display: flex;
  justify-content: space-between;
}

.title-home{
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.title-home span {
  color: #2196F3;
}
.social-medias-home a {
  margin-right: 10px;
}
.content-img {
  position: relative;
}
.main-img {
  margin: -90px;
}
.main-img img{
  height: 700px;
  margin: -90px;
}
.icons {  
  position: absolute;
  top: -90px;
  left: 50px;
}
.icons img {
  margin-left: 60px;
  height: 32px;
}

.icons .icon-one,
.icons .icon-two,
.icons .icon-three,
.icons .icon-four,
.icons .icon-five {
  position: relative;

}
.icons .icon-one {
  top: 60px;
  animation: icon-one 1s ease-in-out infinite alternate; 

}
.icons .icon-two { 
  bottom: 20px;
  right: 20px;
  animation: icon-two 1s ease-in-out infinite alternate; 

}
.icons .icon-three {  
  bottom: 40px;
  right: 5px;
  animation: icon-three 1s ease-in infinite alternate; 
}
.icons .icon-four {
  bottom: 10px;
  right: 10px;
  animation: icon-four 1s ease-in-out infinite alternate;
}
.icons .icon-five {
  top: 60px;
  right: 80px;
  animation: icon-five 1s ease-in-out infinite alternate; 

}

/* === ABOUT SECTION === */

.about {
  height: 100vh;
  padding: 100px 0;
}
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-left {
  width: 45%;
}
.column-left img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
}
.column-right {
  width: 55%;
  text-align: justify;
}

.title-about {
  
  font-size: 2.5em;
  font-weight: 500;
  max-width: 500px;
  margin-bottom: 40px;
}
.text-about {
  font-size: 1.5rem;
  color: var(--primary-color);
  max-width: 500px;
}

/* === PROJECT SECTION === */
.projects {
  height: 100vh;
  padding: 100px 0;
}
.project-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.cards {
  background: var(--primary-color);
  border-radius: 4px;
  padding: 100px;
}
.image-card-container {

}
.title-card {

}
.content-card {

}
/* === KEYFRAMES SECTION === */

@keyframes icon-one {
  0% {
    top: 20px;
  }
  100% {
    top: 60px;
  }
}
@keyframes icon-two {
  0% {
    right: 20px;
  }
  100% {
    right: 0px;
  }
}
@keyframes icon-three {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes icon-four {
  0% {
    top: 0px;
  }
  100% {
    top: 10px;
  }
}
@keyframes icon-five {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

